#area_7, #area_10, #area_13, #area_15 {
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #33363a;
    border-bottom: 1px solid #33363a;

    p {
        margin: 0;
        margin-bottom: 32px;
        font-size: 20px;
        color: #D9E3EA;
    }

    ul {
        padding: 0;
    }
}