#area_3 {
    border-top: 1px solid #33363a;
    border-bottom: 1px solid #33363a;
    padding: 40px 0;
    text-align: center;

    p {
        font-size: 20px;
        color: #D9E3EA;
        margin: 0;
        margin-bottom: 32px;
    }

    ul {
        padding: 12px 0 0 0 ;
    }
}