#area_4 {
    padding-top: 64px;
    padding-bottom: 80px;
    border-bottom: 1px solid #33363a;
    text-align: center;

    p {
        font-size: 20px;
        color: #9BA9B4;
        margin: 0;
        padding-bottom: 120px;
    }

    .area_4--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        text-align: center;

        .grid-box {
            position: relative;
        }

        .dashed {
            width: calc(100% - 32px);
            border: 1px dashed #33363A;
            position: absolute;
            left: calc(50% - 277px);
            top: 34px;
            z-index: -1;
        }

        img {
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            padding: 0;
        }
    }
    @media (max-width: 768px) {
        .area_4--grid {
            grid-template-columns: 1fr;
        }       
    }
}